.icon { 
    position: relative;

    .fa { 
        $icon-size: 12px;
        width: $icon-size;
        height: $icon-size;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        color: #fff;
    }

    .fa-play { left: 3px; }
}
